$black-background-color: rgba(56, 55, 61, 1);
$black-light-background-color: #505050;
$white-background-color: rgba(255, 255, 255, 1);
$gray-background-color: rgba(240, 240, 240, 1);
$gray-light-background-color: rgba(204, 204, 204, 1);
$red-background-color: rgba(212, 48, 48, 1);


$white-text-color : rgba(255, 255, 255, 1);
$black-text-color: rgba(0, 0, 0, 1);
$black-light-text-color: #505050;
$gray-text-color: rgba(144, 147, 153, 1);
$gray-text-light-color: rgba(204, 204, 204, 1);

$gray-light-border-color: rgba(144, 147, 153, 0.5)
